<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="ios-menu-outline"></ion-icon>
      </button>
      <ion-title>Dungeons&Dragons</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="" padding>
  <ion-slides pager>
    <ion-slide class="welcome">
        <img class="logo" src="./assets/imgs/dd.jpg"><br>
        <p>Welcom to Dungeons&Dragons!! Below you may go to the Dice Page where you may
          roll the dice</p>
            <button ion-button icon-start (click)="toDiceRoll()" color="mine">
                <ion-icon name="cube"></ion-icon>
                Dice
              </button>
    </ion-slide>
    <ion-slide class="flash">
      <h1>What descriptions would you like to see?</h1>
      <button ion-button icon-start (click)="toCharDesc()" color="mine">
          <ion-icon name="md-body"></ion-icon>
          Class
        </button>
        <button ion-button icon-start (click)="toRace()" color="mine">
            <ion-icon name="md-bonfire"></ion-icon>
            Race
          </button>
    </ion-slide>
    <ion-slide class="char">
        <ion-list>
          <h1>Characters:</h1>
            <ion-item *ngFor="let item of characterAsync | async" (click)="selectCharacter(item.payload.val())">
              <p>Character Name:&nbsp;{{item.payload.val().charName}}<br></p>
              <p>Gender:&nbsp;{{item.payload.val().gender}}<br></p>
              <p>Class:&nbsp;{{item.payload.val().class}}<br></p>
              <p>Race:&nbsp;{{item.payload.val().race}}<br></p>
            </ion-item>
          </ion-list>      
         <button ion-button icon-start  (click)="toCharPage()" color="mine">
          <ion-icon name="add"></ion-icon>
          Add a Character
         </button>
    </ion-slide>
    <ion-slide class="notes">
        <h1>Notes:</h1>
        <ion-list>
            <ion-item *ngFor="let item of notesAsync | async" (click)="selectNotes(item.payload.val())">
              <p>Title:{{item.payload.val().title}}<br></p>
              <p>Description:{{item.payload.val().describe}}<br></p>
            </ion-item>
          </ion-list>      

        <button ion-button icon-start (click)="toNotes()" color="mine">
            <ion-icon name="add"></ion-icon>
            Add Notes
          </button>
    </ion-slide>
  </ion-slides>

  
</ion-content>
