page-login {
    
    .logo{
        height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .test{
        height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .link {
        margin-left: auto;
        margin-right: auto;
    }
    
}
